/*
  Github Username - AverageDragon
  6/2/2019

  The stylesheet which complements the bootstrap pre-compiled stylesheet.
  "styles.css" controls the appearance of the webpage

  font-family: 'B612 Mono', monospace;
*/

/* Generic */
.hidden {
  display: none;
}

.darkened {
  filter: brightness(0);
  -webkit-filter: brightness(0);
}

/* Body/Nav Styles */
body {
  width: 75%;
  margin: 0 auto;
}

#navbar {
  display: block;
}

#logo {
  width: 305px;
}

#logo img {
  width: 14%;
  margin-right: 20px;
}

.navbar-text {
  width: 230px;
  text-align: right;
}

.navbar-text a {
  font-size: 14pt;
}

.navbar-text img {
  margin-left: 20px;
  width: 22%;
}

/* Database Styles */
#dbinfo {
  margin-top: 20px;
}

#searchform {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 12px;
}

#searchform input {
  margin-right: 10px;
}

#searches {
  width: 70%;
}

#searchtext {
  margin-bottom: 12px;
}

#searchtext, #searchcurators {
  height: 52px;
}

#switches {
  width: 35%;
  font-size: 16pt;
  margin-left: 10px;
  cursor: pointer;
}

#hasDiscord {
  margin-top: 8px;
}

#hasDiscord, #hasPrimer {
  font-size: 16pt;
}

#hasPrimer img {
  margin-left: 0px;
  margin-right: 3px;
}

#hasDiscord img {
  margin-left: 7px;
  margin-right: 10px;
}

#database {
  font-family: 'IBM Plex Mono', monospace;
  margin-bottom: 350px;
}

#database thead button {
  width: 100%;
  text-align: left !important;
  font-weight: bold !important;
  font-size: 14pt;
}

th h3 {
  padding-top: 8px;
}

/* Database entry row */
.entry {
  border: 3px solid black;
  color: white;
  font-size: 15pt;
  font-weight: bold;
}

.entry td div {
  padding-top: 4px;
}

.meta {
  width: 190px;
}

.meta img {
  height: 30px;
  margin-bottom: 5px;
}

.commanderLink {
  color: lightblue;
}

.icons {
  width: 230px;
  min-width: 230px;
}

.entry:hover {
  cursor: pointer;
}

.colors {
  width: 180px;
  margin: auto;
}

.colors div {
  width: 180px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: none !important;
}

.colors img {
  height: 30px;
}

.primerImage {
  height: 30px;
  margin-right: 10px;
  margin-bottom: 8px;
}

.discordImage {
  height: 22px;
  margin-top: 6px;
  margin-right: 14px;
  margin-bottom: 8px;
}

.strat {
  height: 35px;
  margin-bottom: 5px;
}

/* Database info row */
.info {
  padding: 0;
}

.info td {
  background-color: #636669 !important;
  padding: 0;
}

.sub {
  color: #fff;
}

.sub > div, .sub > hr, .sub > p {
  margin: 20px;
}

.sub hr {
  background-color: lightgray;
}

.upper {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.upper > div {
  padding: 20px;
}

.description {
  width: 50%;
}

.description p {
  font-family: Palatino, sans-serif;
  font-size: 14pt;
}

.decklists {
  width: 25%;
  border: 2px solid black;
  background-color: #3c4044;
}

.decklists a {
  display: block;
  padding: 4px;
  text-align: center;
}

.decklists .suggested {
  font-weight: bold;
  font-size: 12pt;
  color: lightblue;
}

.decklists .alt {
  color: white;
  font-size: 12pt;
  font-style: italic;
  font-weight: bold;
  margin: 8px 0;
}

.discord {
  width: 25%;
  text-align: center;
  background-color: #3c4044;
  border: 2px solid black;
  border-left: none;
}

.discord .missing {
  text-decoration: line-through !important;
}

.discord img {
  width: 50%;
}

.discord p {
  font-size: 16pt;
  font-weight: bold;
}

.discord .suggested {
  color: lightblue !important;
}

.discord .alt {
  color: white;
  font-style: italic;
}

.curators {
  text-align: right;
  font-size: 14pt;
  margin-bottom: 0;
}

.date {
  font-size: 14pt;
  margin-bottom: 0;
}

.holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkDiv {
  border: 2px solid white;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

.linkDiv img {
  height: 40px;
  padding-bottom: 4px;
}

#subm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#ptop {
  margin: 6px;
  font-size: 22pt;
  color: white;
  text-align: center;
}

#pbot {
  margin: 6px;
  margin-bottom: 20px;
  font-size: 16pt;
  text-align: center;
}
