/*
  Github Username - AverageDragon
  6/2/2019

  The stylesheet which complements the bootstrap pre-compiled stylesheet.
  "styles.css" controls the appearance of the webpage

  font-family: 'B612 Mono', monospace;
*/
body {
  width: 65%;
  margin: 0 auto;
}

nav {
  min-width: 1000px;
}

#logo {
  width: 305px;
}

#logo img {
  width: 14%;
  margin-right: 20px;
}

.navbar-text {
  width: 230px;
  text-align: right;
}

.navbar-text a {
  font-size: 14pt;
}

.navbar-text img {
  margin-left: 20px;
  width: 22%;
}

#wrapper {
}

.desc {
  margin-top: 20px;
}
.database {
  font-family: 'IBM Plex Mono', monospace;
}

.database button {
  width: 100%;
}
